<% task = @task %>
<h1>Tasks#new</h1>
<p>Find me in app/views/tasks/new.html.erb</p>
<form action="<%= tasks_path %>" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <!-- <input type="hidden" name="_method" value="patch"> -->
  <div class="form-group form-check">
    <label for="task-title">Title</label>
    <input type="text" id="task-title" class="form-control" name="task[title]">
  </div>
  <div class="form-group form-check">
    <label for="task-details">Details</label>
    <input type="text" id="task-details" class="form-control" name="task[details]">
  </div>
  <div class="form-group form-check">
    <input class="btn btn-secondary mt-3" type="submit" value="submit">
  </div>
</form>
<div class="my-5">
  <%= link_to raw('<i class="fas fa-undo-alt"></i>&nbsp;back to list'), tasks_path %>
</div>
